
body{
  background-color: black
}

.contenedor{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 10px;
  word-spacing: 5px;
  background: linear-gradient(-45deg, red,navy,yellow,pink,lightgreen);
  color: transparent;
  background-clip: text;
  animation: arcoiris 5s linear infinite, flotar 5s linear infinite;
  font-size: 50px;
}

@keyframes arcoiris {
from{filter: hue-rotate(0deg);
transform: scale(0.85);}
to  {filter: hue-rotate(360deg);
transform: scale(1.15);}
}

@keyframes flotar {
  0%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(60px);
  }
  40%{
    transform: translateY(-60px);

  }
  60%{
   transform: translateY(60px); 
  }
  80%{
    transform: translateX(-60px);
  }
  100%{
    transform: translateY(0px);
  }

  0,100%{
    transform: scale(0.85);
  }

  100%,0%{
    transform: scale(1.25);
  }
}

img{
  border-radius: 50%;
  border: solid white 4px;
  box-shadow: goldenrod 1px 10px 10px 10px;
  animation: rotar 4s ease-in-out infinite ;
}

@keyframes rotar{
    0%,100%{transform: rotate(0deg);}
    25%,75%{transform: rotate(45deg);}
    50%{transform: rotate(360deg);}
  }